.main-grid-photo {
  transition: all 300ms;

  &:hover {
    transform: scale(1.02);
  }

  &__link {
    display: block;
    line-height: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}