*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
p,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: $black;
}